{% load static %}
<!DOCTYPE html>
<html>
  <!doctype html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <img src="{% static 'images/mfg.png' %}">
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      
    </head>
    <body>
    {% include 'nav.html' %}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

<body>
{% comment %} <div class="container">
    <div class="f-group">
        <label for =""> country</label>
        <select name="select" id="select" onchange="populate(this.id),'select2'">
            <option value =""> --choose -- </option>
            <option value ="india"> india</option>
            <option value ="america"> america</option>
        </select>
    </div> 
    <div class="f=group">
        <label for =""> city </label>
        <select name="select2" id="select2"> </select>
    </div>
</div>
<script>
    function populate(s1,s2)
    {
        var s1=document.getElementById(s1);
        var s2=document.getElementById(s2);

        s2.innerHTML=" "
        if (s1.value=="india")
        {
            var optionArray=['delhi','mumbai','pune']
        }
        else if (s1.value=="america")
        {
            var optionArray=['Newyork','chicago','lasvegas'] ;
        }
        for (var in optionArray)
        {
            var pair =optionArray[option].split("|")
            var newoption = document.createElement("option")
            newoption.value()=pair[0];
            newoption.innerHTML=pair[1];
            s2.option.add(newoption)
        }
    }
</script> {% endcomment %}

<div class ="promo"> 
  
  <ul class="nav flex-column">
    
    <li class="nav-item">
      <a class="nav-link" href="">Promotion details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Assign Promotions</a>
    </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Images</a>
  </li>
  
</ul>
</div>

<div class="d-flex align-items-center">   
<form method="POST">
  {% csrf_token %}
  <div class="form"> 
    
   
    <div class="row" style="width: 200px;">
      <label for="exampleInputPassword1" class="form-label">Promotions Title</label>
      <input type="text" class="form-control" name="promotion_title" id="promotitle"> <br>

    </div>

    <div class="row" style="width: 200px;">
      <label for="exampleInputPassword1" class="form-label">Product</label>
      <input type="text" class="form-control" name="product"id="promotitle">
    </div>

    <div class="row" style="width: 200px;">
      <label for="exampleInputPassword1" class="form-label">M code</label>
      <input type="text" class="form-control" name="m_code"id="promotitle">
    </div>

    <div class="row" style="width: 200px;">
      <label for="exampleInputPassword1" class="form-label"> Status</label>
      <input type="text" class="form-control" name="status"id="promotitle">
    </div>
    
    <div class="mx-auto" style="width: 200px;">
      <label for="exampleInputPassword1" class="form-label"> Available for</label>
      <input type="text" class="form-control" name="avl"id="promotitle">
    </div>

    <div class="mx-auto" style="width: 200px;">
      <label for="exampleInputPassword1" class="form-label"> Start Date</label>
      <input type="date" class="form-control"name="s_date" id="promotitle">
    </div>

    <div class="mx-auto" style="width: 200px;">
      <label for="exampleInputPassword1" class="form-label"> End Date</label>
      <input type="date" class="form-control" name="e_date"id="promotitle">
    </div>

    <div class="mx-auto" style="width: 200px;">
      <label for="exampleInputPassword1" class="form-label"> Price</label>
      <input type="text" class="form-control"name="price" id="promotitle">
    </div>
    <div class="row" style="width: 200px;">
      <label for="exampleInputPassword1" class="form-label"> Quantity</label>
      <input type="text" class="form-control" name="qty" id="promotitle">
    </div>

    <div class="row" style="width: 200px;">
      <label for="exampleInputPassword1" class="form-label"> Unique Code/Barcode</label>
      <input type="text" class="form-control"name="u_code" id="promotitle">
    </div>

    <div class="mx-auto" style="width: 200px;">
    </div>
    <button type="submit" class="btn btn-primary">Assign</button>
 
  
 
  
</form>

</div>
</div>
<style>
  .form{
    margin:auto
  }
</style>
</body>

</html> 